<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> {% block title %}
    Stylish Portfolio - Start Bootstrap Theme 
    {% endblock %}
    </title>

    {% block stylesheets %}
    {% stylesheets '@BatisCrowdsourcingBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% endblock %}

</head>

<body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts '@BatisCrowdsourcingBundle/Resources/public/js/jquery.js'
                           '@BatisCrowdsourcingBundle/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
</body>


