{% extends "BatisCrowdsourcingBundle::layout.html.twig" %}

{% block BatisCrowdsourcing_body %}

<div class="well">
{{ form_start(form, {'attr' : {'class': 'form-horizontal'}}) }}
{{ form_rest(form) }}
{{ form_end(form) }}
</div>
{% endblock %}